.app {
    width: 70vw;
}

header, main {
    background-color: var(--greenDark);
    border: 3px solid var(--purpleHighlight);
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
}

@media print, screen and (max-width: 1080px) {
    .app {
        width: 90vw;
    }

    header, main {
        float: none;
        position: static;
        transform: none;

        width: auto;
        min-height: auto;
        margin: 8px 0;
    }
}

ul {
    width: auto;
    margin: 0 auto;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--purpleHighlight);
    border-radius: 15px;
}
  
ul li {
    flex: auto;
    padding: 8px;

    list-style: none;
    text-align: center;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.7s;
}

ul li:first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

ul li:last-child {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

ul li:hover {
    background: var(--greenLight);
}

ul li.active {
    background: var(--purpleHighlight);
    cursor: auto;
}