:root {
    --greenLight: #2F4F4F;
    --greenDark: #2A4141;
    --purpleHighlight: #483D8B;
    --blueLink: #26BCFF;
    --blueLinkHover: #0099FF;
}

* {  
    margin: 0;
}

body {
    background-image: linear-gradient(330deg, var(--greenLight), black 50%, var(--greenLight));
    background-attachment: fixed;
    background-size: 120%;

    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    color: white;
    text-shadow: 1px 1px black;

    display: flex;
    justify-content: center;
}

a {
    color: var(--blueLink);
    text-decoration: none;
}

a:hover {
    color: var(--blueLinkHover);
}

img {
    max-width: 90%;
}