header {
    float: left;
    position: fixed;   

    width: 20%;
    height: 90vh;
    
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    padding: 8px;
    
    top: 50%;
    transform: translate(0, -50%);
}

h1 {
    font-size: 26px;
    text-align: center;
}

.profilePicture {
    height: 200px;
    width: 200px;
    
    border: 3px solid var(--border);
    border-radius: 9999px;
}

.localization, .email {
    display: flex;
    align-items: center;
}