.app {
    width: 70vw;
}

header, main {
    background-color: var(--backgroundSolid);
    border: 3px solid var(--border);
    border-radius: 50px;
    
    display: flex;
    flex-direction: column;
}

@media print, screen and (max-width: 1080px) {
    header, main {
        float: none;
        position: static;
        transform: none;
        
        width: auto;
        margin: 8px 0;
    }
}